@import 'placeholders';

:host {
  @extend %base-font18-normal;

  width: 270px;
  height: 50px;
  border-radius: 8px;

  color: var(--theme-white-1000-color);
  background: var(--green-dark-color);
  transition: var(--base-transition);
  transition-property: background;

  &:hover {
    background: var(--green-bright-color);
  }

  &:disabled {
    background: var(--green-dim-color);
  }

  &:active:not(:disabled) {
    background: var(--green-ultra-dark-color);
  }
}
