@import 'placeholders';

:host {
  display: flex;
  flex-direction: column;
  gap: 10px;

  width: 425px;
  padding-top: 10px;
  box-sizing: border-box;

  .top-container {
    padding-right: 10px;
    padding-left: 5px;

    display: flex;
    flex-direction: column;
    gap: 5px;

    .control-container {
      display: flex;
      gap: 10px;

      .address-search {
        width: 0;
        flex-grow: 1;
      }
    }
  }

  .content-container {
    position: relative;
    height: 0;
    flex-grow: 1;

    .hint-container,
    .animation-content-container {
      position: absolute;
      left: 0;
      top: 0;

      height: 100%;
      width: 100%;
    }

    .scroll-container {
      height: 100%;
    }

    ::ng-deep {
      .cdk-virtual-scroll-content-wrapper {
        padding: 10px;
        padding-right: 10px;
        padding-left: 5px;
        box-sizing: border-box;

        display: flex;
        flex-direction: column;
        gap: 12px;
      }
    }

    .hint-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 50px;

      .hint {
        @extend %secondary-font20-normal;

        max-width: 300px;
        text-align: center;

        color: var(--text-dark-color);
      }

      img {
        height: 250px;
      }
    }
  }
}
