@import 'placeholders';

:host {
  height: 80px;

  display: flex;
  gap: 10px;

  .card {
    height: 100%;
    padding-left: 15px;
    box-sizing: border-box;
    border-radius: 12px;

    display: flex;
    flex-grow: 1;
    align-items: center;
    gap: 10px;

    background: var(--theme-white-1000-color);
    box-shadow: var(--default-shadow);

    .icon-container {
      width: 36px;
      height: 36px;
      border-radius: 8px;

      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 20px;
      }
    }

    .text-container {
      display: flex;
      flex-direction: column;
      gap: 5px;

      color: var(--text-dark-color);

      .heading {
        @extend %base-font12-normal;
      }

      .number {
        @extend %base-font20-bold;
      }
    }

    &.all-count-card {
      .icon-container {
        background: rgba(0, 68, 37, .15);
      }
    }

    &.anomaly-count-card {
      .icon-container {
        background: var(--theme-secondary-400-color);
      }
    }
  }
}
