@import 'placeholders';


:host {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;

  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 20px;

  .white-filter,
  .blur-filter {
    position: absolute;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;
  }

  .white-filter {
    background: var(--theme-white-1000-color);
    opacity: .3;

    &.blackout {
      opacity: 1;
    }
  }

  .blur-filter {
    backdrop-filter: blur(10px);
  }

  .illustration {
    position: relative;
    z-index: 1;

    max-height: 260px;
  }

  .hint-container {
    position: relative;
    z-index: 1;

    display: flex;
    flex-direction: column;
    align-items: center;

    filter: drop-shadow(var(--2x-shadow-part1)) drop-shadow(var(--2x-shadow-part2));

    .arrow {
      border: 30px solid transparent;
      border-top: none;
      border-bottom: 15px solid var(--theme-white-1000-color);
    }

    .hint {
      @extend %base-font14-normal;

      padding: 13px 26px;
      border-radius: 8px;

      background: var(--theme-white-1000-color);
    }
  }
}
