:root {
  --theme-white-1000-color: #FFFFFF;

  --theme-primary-600-color: #ACB9DC;

  --theme-secondary-1000-color: #EE2D1E;
  --theme-secondary-800-color: #DA737B;
  --theme-secondary-400-color: #F6DCDE;

  --neutral-600-color: #434343;
  --neutral-500-color: #595959;
  --neutral-400-color: #8C8C8C;

  --basic-1100-color: #101426;

  --green-dark-color: #004425; // TODO: update naming with Figma
  --green-ultra-dark-color: #00351D;
  --green-bright-color: #00724E;
  --green-dim-color: #B3C7BE;

  --red-color: #E11432; // TODO: update naming with Figma
  --summer-night-color: #0B1F33;

  --text-dark-color: #27272E;
  --text-muted-color: #A8A8A8;
  --text-default-color: #222B45;

  --input-default-color: #F5F7FA;
  --input-hover-color: #EBEFF7;
}
