@font-face {
  font-weight: normal;
  font-family: Formular;
  font-style: normal;
  src: url('../assets/fonts/Formular-Regular.otf') format('opentype');
}

@font-face {
  font-weight: bold;
  font-family: Formular;
  font-style: normal;
  src: url('../assets/fonts/Formular-Bold.otf') format('opentype');
}

@font-face {
  font-weight: normal;
  font-family: 'Proxima Nova';
  font-style: normal;
  src: url('../assets/fonts/ProximaNova-Regular.otf') format('opentype');
}
