// #region Base

%base-font {
  font-family: Formular, sans-serif;
}

%base-font24 {
  @extend %base-font;

  font-size: 24px;
  line-height: 30px;
}

%base-font24-bold {
  @extend %base-font24;

  font-weight: bold;
}

%base-font20 {
  @extend %base-font;

  font-size: 20px;
  line-height: 25px;
}

%base-font20-bold {
  @extend %base-font20;

  font-weight: bold;
}

%base-font18 {
  @extend %base-font;

  font-size: 18px;
  line-height: 22px;
}

%base-font18-normal {
  @extend %base-font18;

  font-weight: normal;
}

%base-font16 {
  @extend %base-font;

  font-size: 16px;
  line-height: 24px;
}

%base-font16-normal {
  @extend %base-font16;

  font-weight: normal;
}

%base-font16-bold {
  @extend %base-font16;

  font-weight: bold;
}

%base-font14 {
  @extend %base-font;

  font-size: 14px;
  line-height: 18px;
}

%base-font14-normal {
  @extend %base-font14;

  font-weight: normal;
}

%base-font14-bold {
  @extend %base-font14;

  font-weight: bold;
}

%base-font12 {
  @extend %base-font;

  font-size: 12px;
  line-height: 15px;
}

%base-font12-normal {
  @extend %base-font12;

  font-weight: normal;
}

%base-font10 {
  @extend %base-font;

  font-size: 10px;
  line-height: 13px;
}

%base-font10-bold {
  @extend %base-font10;

  font-weight: bold;
}

// #endregion

// #region Secondary

%secondary-font {
  font-family: 'Proxima Nova', sans-serif;
}

%secondary-font24 {
  @extend %secondary-font;

  font-size: 24px;
  line-height: 30px;
}

%secondary-font24-normal {
  @extend %secondary-font24;

  font-weight: normal;
}

%secondary-font20 {
  @extend %secondary-font;

  font-size: 20px;
  line-height: 25px;
}

%secondary-font20-normal {
  @extend %secondary-font20;

  font-weight: normal;
}

// #endregion

// #region Tertiary

%tertiary-font {
  font-family: Inter, sans-serif;
}

%tertiary-font9 {
  @extend %tertiary-font;

  font-size: 9px;
  line-height: 12px;
}

%tertiary-font9-normal {
  @extend %tertiary-font9;

  font-weight: normal;
}

%tertiary-font10 {
  @extend %tertiary-font;

  font-size: 10px;
  line-height: 13px;
}

%tertiary-font10-normal {
  @extend %tertiary-font10;

  font-weight: normal;
}

%tertiary-font12 {
  @extend %tertiary-font;

  font-size: 12px;
  line-height: 15px;
}

%tertiary-font12-normal {
  @extend %tertiary-font12;

  font-weight: normal;
}

%tertiary-font12-medium {
  @extend %tertiary-font12;

  font-weight: 500;
}

%tertiary-font12-semibold {
  @extend %tertiary-font12;

  font-weight: 600;
}

%tertiary-font12-bold {
  @extend %tertiary-font12;

  font-weight: bold;
}

%tertiary-font14 {
  @extend %tertiary-font;

  font-size: 14px;
  line-height: 18px;
}

%tertiary-font14-normal {
  @extend %tertiary-font14;

  font-weight: normal;
}

%tertiary-font14-medium {
  @extend %tertiary-font14;

  font-weight: 500;
}

%tertiary-font14-semibold {
  @extend %tertiary-font14;

  font-weight: 600;
}

%tertiary-font14-bold {
  @extend %tertiary-font14;

  font-weight: bold;
}

%tertiary-font16 {
  @extend %tertiary-font;

  font-size: 16px;
  line-height: 22px;
}

%tertiary-font16-medium {
  @extend %tertiary-font16;

  font-weight: 500;
}

%tertiary-font20 {
  @extend %tertiary-font;

  font-size: 20px;
  line-height: 25px;
}

%tertiary-font20-medium {
  @extend %tertiary-font20;

  font-weight: 500;
}

%tertiary-font24 {
  @extend %tertiary-font;

  font-size: 24px;
  line-height: 32px;
}

%tertiary-font24-light {
  @extend %tertiary-font24;

  font-weight: 300;
}

%tertiary-font40 {
  @extend %tertiary-font;

  font-size: 40px;
  line-height: 54px;
}

%tertiary-font40-semibold {
  @extend %tertiary-font40;

  font-weight: 600;
}

// #endregion
