:root {
  --2x-shadow-part1: 0 0 1px rgba(12, 26, 75, .1);
  --2x-shadow-part2: 0 20px 40px rgba(20, 37, 63, .08);
  --2x-shadow: var(--2x-shadow-part1), var(--2x-shadow-part2);
  --light-inner-shadow: inset 0 -1px 0 #EDF2F7;
  --default-shadow-part2: 0 2px 20px -2px rgba(50, 50, 71, .08);
  --default-shadow: var(--2x-shadow-part1), var(--default-shadow-part2);
}
