@import 'placeholders';


:host {
  display: flex;
  align-items: center;
  gap: 5px;

  span {
    font-size: 20px;
  }

  ::ng-deep {
    .mat-form-field {
      @extend %base-font14-normal;

      color: var(--text-muted-color);

      background: var(--theme-white-1000-color);
      border-radius: 8px;
      box-shadow: var(--shadow-default);

      .mat-form-field-wrapper {
        padding: 0 15px;
        height: 54px;

        .mat-form-field-flex {
          height: 100%;

          .mat-form-field-infix {
            width: 150px;
          }
        }

        .mat-form-field-underline {
          display: none;
        }

        .mat-form-field-subscript-wrapper {
          display: none;
        }
      }
    }

    .mat-datepicker-content {
      @extend %base-font14-normal;

      color: var(--text-muted-color);
    }
  }
}
