@import 'placeholders';


:host {
  display: flex;
  align-items: center;
  gap: 5px;

  span {
    @extend %base-font16-bold;
  }

  .datetime-picker {
    width: 180px;
    border-radius: 8px;

    ::ng-deep {
      .t-textfield {
        height: 40px;
        min-height: 0;

        .tui-autofill {
          box-shadow: var(--default-shadow);
          background: var(--theme-white-1000-color);

          &::after {
            border: none;
          }

          .t-content {
            .t-wrapper {
              .t-wrapper-value-decoration {
                .t-value-decoration {
                  @extend %base-font12-normal;

                  margin-left: 5px;
                }
              }

              .t-placeholder {
                @extend %base-font12-normal;

                margin-left: 5px;
              }
            }
          }

          .t-input {
            @extend %base-font12-normal;

            margin-left: 5px;
          }
        }
      }
    }
  }
}
