<button tpIconButton
    (click)="mapControls.zoomIn()">
    <svg width="20"
         height="20"
         viewBox="0 0 20 20"
         fill="none"
         xmlns="http://www.w3.org/2000/svg">
        <path d="M9.99992 16.6666V9.99998M9.99992 9.99998V3.33331M9.99992 9.99998H16.6666M9.99992 9.99998H3.33325"
              opacity="0.7"
              stroke="#004425"
              stroke-width="2"
              stroke-linecap="round"/>
    </svg>
</button>

<button tpIconButton
    (click)="mapControls.zoomOut()">
    <svg width="21"
         height="21"
         viewBox="0 0 21 21"
         fill="none"
         xmlns="http://www.w3.org/2000/svg">
        <path d="M17.1666 10.5H3.83325"
              opacity="0.7"
              stroke="#004425"
              stroke-width="2"
              stroke-linecap="round"/>
    </svg>
</button>
