<div class="top-container">
    <tp-dashboard-filters>
    </tp-dashboard-filters>

    <tp-profile-controls>
    </tp-profile-controls>
</div>

<div class="upper-analytics-container">
    <tp-dashboard-anomaly-analytics>
    </tp-dashboard-anomaly-analytics>

    <tp-anomaly-case-chart>
    </tp-anomaly-case-chart>
</div>

<div class="big-card-container upper">
    <tp-anomaly-dynamics-chart>
    </tp-anomaly-dynamics-chart>

    <tp-service-rating-table>
    </tp-service-rating-table>
</div>

<div class="big-card-container lower">
    <tp-deffect-rating-table>
    </tp-deffect-rating-table>

    <tp-owner-rating-table>
    </tp-owner-rating-table>
</div>
