:host {
  height: 100%;
  padding: 10px 20px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  gap: 10px;

  .top-container {
    width: 100%;

    display: flex;
    justify-content: space-between;
  }

  .upper-analytics-container {
    width: 100%;

    display: flex;
    gap: 10px;
  }

  .big-card-container {
    width: 100%;

    display: flex;
    flex-grow: 1;
    gap: 10px;

    * {
      height: 100%;
    }
  }
}
