:host {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 15px;

  ::ng-deep {
    .region-select {
      width: 200px;
    }

    .urgency-select {
      .input-container {
        width: 140px;
      }
    }

    .anomaly-select {
      .input-container {
        width: 190px;
      }
    }
  }
}
