:host {
  position: relative;

  height: 100%;
  padding: 10px;
  box-sizing: border-box;

  display: flex;
  overflow: hidden;

  background: var(--theme-white-1000-color);

  .map-container {
    position: relative;

    height: 100%;
    width: 0;
    flex-grow: 1;

    .map {
      border-radius: 10px;
    }

    .map-controls {
      position: absolute;
      left: 0;
      top: 0;

      width: 100%;
      height: 100%;
      padding: 10px;
      box-sizing: border-box;

      display: flex;
      gap: 15px;

      pointer-events: none;

      .right-container {
        width: 0;

        display: flex;
        flex-grow: 1;
        align-items: flex-start;
        gap: 25px;

        .request-toggle {
          pointer-events: auto;
        }

        .filters-container {
          width: 0;
          flex-grow: 1;

          display: flex;
          align-items: flex-start;
          gap: 15px;

          * {
            pointer-events: auto;
          }

          .filters {
            width: 0;
            flex-grow: 1;
          }
        }
      }

      .left-container {
        height: 100%;
        box-sizing: border-box;

        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;

        .top-container {
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          gap: 45px;

          * {
            pointer-events: auto;
          }
        }

        .map-legend {
          pointer-events: auto;
        }
      }
    }
  }
}
