<tp-requests-list class="list"
    *ngIf="(view.listAnimationState | async) === 'opened'"
    [@.disabled]="loader.loading | async"
    [@listAppearance]
    (@listAppearance.start)="view.onListAnimationStart()"
    (@listAppearance.done)="view.listAnimationEnd.emit()">
</tp-requests-list>

<div class="map-container"
    [@.disabled]="loader.loading | async">
    <tp-requests-map class="map">
    </tp-requests-map>

    <div class="map-controls">
        <div class="right-container">
            <button tpRequestsListToggle
                class="request-toggle"
                [isOpen]="(view.listAnimationState | async) === 'opened'"
                (isOpenChange)="view.toggleList($event)">
            </button>

            <div class="filters-container">
                <tp-requests-filters class="filters">
                </tp-requests-filters>
                
                <div class="update-button-container">
                    <button tpFiltersUpdateButton
                            [@opacityAppearance]
                            *ngIf="loadButtonVisible | async"
                            (click)="data.reload.emit()">
                    </button>
                </div>
            </div>
        </div>

        <div class="left-container">
            <div class="top-container">
                <tp-profile-controls
                        class="profile-controls">
                </tp-profile-controls>

                <tp-requests-map-zoom-controls
                        class="zoom-controls">
                </tp-requests-map-zoom-controls>

                <button tpRequestHeatmapToggle
                    [enabled]="(view.heatmapEnabled | async) ?? false"
                    (enabledChange)="view.heatmapEnabled.next($event)">
                </button>
            </div>

            <tp-requests-map-legend
                class="map-legend">
            </tp-requests-map-legend>
        </div>
    </div>
</div>

