<div class="count-container">
    <div class="marker-count incident"
        *ngIf="incidentRequestsCount | async as count">
        <img src="assets/icons/maroon-marker.svg" alt="incident">
        <span class="number">{{ count }}</span>
    </div>

    <div class="marker-count anomaly"
        *ngIf="anomalyRequestsCount | async as count">
        <img src="assets/icons/red-marker.svg" alt="anomaly">
        <span class="number">{{ count }}</span>
    </div>

    <div class="marker-count normal"
        *ngIf="normalRequestsCount | async as count">
        <img src="assets/icons/green-marker.svg" alt="normal">
        <span class="number">{{ count }}</span>
    </div>
</div>

<cdk-virtual-scroll-viewport
        class="request-list"
        *ngIf="groupedRequests | async as requests"
        [itemSize]="40"
        [minBufferPx]="100"
        [maxBufferPx]="150">
    <div class="request"
         *cdkVirtualFor="let request of requests">
        <img [src]="request.image" alt="">

        <div class="text-container">
            <span class="number">{{ request.number }}</span>
            <button class="open-toggle"
                    (click)="openFull(request)">
                {{ request.deffect.shortName }}
            </button>
        </div>
    </div>
</cdk-virtual-scroll-viewport>
