@import 'placeholders';

:host {
  position: relative;
  display: flex;
  flex-direction: column;

  width: 500px;

  .input-container {
    height: 40px;
    padding: 0 10px;
    padding-left: 15px;
    border-radius: 8px;
    box-sizing: border-box;

    background: var(--theme-white-1000-color);
    box-shadow: var(--default-shadow);
    transition: var(--base-transition);

    display: flex;
    align-items: center;
    gap: 10px;

    &.open {
      border-radius: 8px 8px 0 0;
    }

    img {
      width: 20px;
    }

    input {
      @extend %base-font12-normal;

      width: 0;
      flex-grow: 1;
    }
  }

  .options-container {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;

    width: 100%;
    padding: 10px 0;
    box-sizing: border-box;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    gap: 6px;

    background: var(--theme-white-1000-color);
    box-shadow: var(--default-shadow);

    border-radius: 0 0 8px 8px;
    overflow: hidden;

    .option {
      @extend %base-font12-normal;

      min-height: 30px;
      padding: 0 12px;

      display: flex;
      align-items: center;

      color: var(--text-dark-color);
      text-align: start;
      transition: var(--base-transition);

      &:hover {
        background: #F3F8F3;
      }

      &:active {
        background: #E9F1E8;
      }
    }
  }
}
