:host {
  height: 40px;
  min-width: 40px;
  border-radius: 8px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: var(--green-dark-color);
  box-shadow: var(--default-shadow);

  path {
    transition: var(--base-transition);
  }

  &:hover {
    path {
      opacity: 1;
    }
  }

  &:active {
    path {
      stroke-width: 2.5px;
    }
  }
}
